body{
    background-color: #e4fbff;
}

h1{
    color: darkblue;
    font-size: 27px;
    font-family: Broadway;
}

p{
    color: #7868e6 ;
    font-size: 18px;
    font-family: Centaur;
}

h2{
    color: rebeccapurple;
    font-size: 26px;
    font-family: Constantia;
}